/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */


@import url('../../dojox/form/resources/CheckedMultiSelect.css');
@import url('normalize.css');

body,html {
/*	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;*/
	font-family: 'Helvetica Neue', Arial;
}

#appContainer {
	width: 100%;
	height: 100%
}

#header img.logo {
	margin: 10px 20px;
	float: left;
}

#header h1 {
	color: #BCBCBC;
	display: inline-block;
	margin: 13px 0 0 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 100%;
}

#header .dijitButton {
	float: right;
	margin: 14px;
}



.claro .dijitStackContainer {
	border: none;
}

.claro .dijitBorderContainer-child[region=top] {
	border: none;
	padding: 0;
	margin: 0 0 10px 0;
}

.editor .buttonline {
	margin: 0 5px;
}

.editor.row {
	margin-bottom: 0.8em;
	margin-right: 0.5em;
	position:relative;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.editor .body {
	margin-left: 1.5em;
}

.editor .label {
	margin-bottom: 0.6em;
	vertical-align:top;
}

.label label {
	margin-right: 10px;
}

.editor .dijitSelect {
	margin: 0;
}

.editor table tr td.dijitArrowButtonContainer.dijitDownArrowButton{
	border:1px solid #B5BCC7;
}
.editor table tr td.dijitStretch.dijitButtonContents div{
	width:50px;
}

.editor .dijitTitlePaneTitle.dijitClosed{
	/*width:10px;*/
}

.editor textarea.dijitTextArea{
	//margin-top:20px;
	display:block;
}




.label span.error {
	color: red;
	border-color: red;
	padding: 1px 4px;
}
.label span.changes {
	color: green;
	border-color: green;
}
.label span.description {
	color: #666;
	border-color: #666;
}

.label span{
	font-weight: bold;
	font-size: 5pt;	
	border: 1px solid;
	border-radius: 7px;
	padding: 1px 3px;
	background-color:#fff;
	margin-left:3px;
	position:relative;
	vertical-align: top;	
	top:4px;

}

/* from admin */
.dijitContentPane div span.pageName{font-size: 16px;padding: 10px 0 10px 10px;display: block;background-color: #08298A;color: #fff;width:700px;}
.dijitContentPane div ul li.moduleContainer{list-style-type:none;padding-top:10px;}

span.errorTooltipNode{
	border: 1px solid red;
	background-color: #fff;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	padding: 1px 6px;
	color: red;
	text-align: center;
	margin-left: 6px;
}

/* select is not properly displayed in table list without this */
.dijitSelect td.dijitStretch{
	overflow:hidden;
}

.Decorator {
	margin-bottom:0.5em;
}

.gformColumnContainer .Decorator {
	/* inline-block so that ColumnContainer computes proper column size. But this makes following decorators float*/
	float: left;
	clear: both;	
}

.gformColumnContainer {
	overflow: auto;
	padding: 8px;
}
.gformColumnCanvas.columns_5 {
	-webkit-column-count:5;
	-moz-column-count:5;
}
.gformColumnCanvas.columns_4 {
	-webkit-column-count:4;
	-moz-column-count:4;
}
.gformColumnCanvas.columns_3 {
	-webkit-column-count:3;
	-moz-column-count:3;
}
.gformColumnCanvas.columns_2 {
	-webkit-column-count:2;
	-moz-column-count:2;
}
.gformColumnCanvas.columns_1 {
	-webkit-column-count:1;
	-moz-column-count:1;
}


