/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */


@import url('normalize.css');

body,html {
	font-family: 'Helvetica Neue', Arial;
}

#appContainer {
	width: 100%;
	height: 100%
}

#header img.logo {
	margin: 10px 20px;
	float: left;
}

#header h1 {
	color: #BCBCBC;
	display: inline-block;
	margin: 13px 0 0 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 100%;
}

#header .dijitButton {
	float: right;
	margin: 14px;
}



.editor .buttonline {
	margin: 0 5px;
}

.singleDecorator {
    margin: 5px;
}

.editor.row {
	margin-bottom: 0.8em;
	//margin-right: 0.5em;
	position:relative;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;

}

.editor.row.Decorator.short {
    display: inline-block;
    margin-right: 14px;
}

.editor .body {
	padding-left: 1.5em;
	//padding-right: 1.5em;
}

.editor .label {
	margin-bottom: 0.6em;
	vertical-align:top;
}

div.label {
	display:inline-block
}

.label label {
	//margin-right: 10px;
}

.editor .dijitSelect {
	margin: 0;
}

.tableHeader {
	font-size: 13px;
	font-weight: normal;
}

th.tableHeader {
	padding: 5px;
	border-bottom-width : 2px;
	border-bottom-color : #333;
}

.gformTableList td {
	padding: 5px;
}

.editor table tr td.dijitArrowButtonContainer.dijitDownArrowButton{
	border:1px solid #B5BCC7;
}
.editor table tr td.dijitStretch.dijitButtonContents div{
	width:50px;
}

.editor .dijitTitlePaneTitle.dijitClosed{
	/*width:10px;*/
}

.editor textarea.dijitTextArea{
	//margin-top:20px;
	display:block;
}




span.error.indicator {
	color: red;
	border-color: red;
	padding: 1px 4px;
}
span.changes.indicator {
	color: green;
	border-color: green;
}
span.description.indicator {
	color: #666;
	border-color: #666;
}

 span.indicator{
	font-weight: bold;
	font-size: 5pt;
	border: 1px solid;
	border-radius: 7px;
	padding: 1px 3px;
	background-color:#fff;
	margin-left:3px;
	position:relative;
	vertical-align: top;
	top:4px;

}

span.indicator.groupPanel{
	margin-left:7px;
}

/* from admin */
.dijitContentPane div span.pageName{font-size: 16px;padding: 10px 0 10px 10px;display: block;background-color: #08298A;color: #fff;width:700px;}
.dijitContentPane div ul li.moduleContainer{list-style-type:none;padding-top:10px;}

span.errorTooltipNode{
	font-weight: bold;
	font-size: 6pt;
	border: 1px solid;
	border-radius: 7px;
	padding: 2px 4px;
	background-color: #fff;
	margin-left:7px;
	position:relative;
	vertical-align: top;
	top:4px;
	color: red;
}

span.changesTooltipNode{
    font-weight: bold;
    font-size: 6pt;
    border: 1px solid;
    border-radius: 7px;
    padding: 2px 4px;
    background-color: #fff;
    margin-left:7px;
    position:relative;
    vertical-align: top;
    top:4px;
    color: green;
}

/* select is not properly displayed in table list without this */
.dijitSelect td.dijitStretch{
	overflow:hidden;
}

.Decorator {
	margin-bottom:0.5em;
}

.gformColumnContainer .Decorator {
	/* inline-block so that ColumnContainer computes proper column size. But this makes following decorators float*/
  display:block;

	//float: left;
	//clear: both;
}

.dijitReset.dijitValidationContainer {
	display: none;
}

.gformColumnContainer {
	overflow: auto;
	padding: 8px;
}
.gformColumnCanvas {
	-webkit-column-gap:0px;
	-moz-column-gap:0px;
}
.gformColumnCanvas div.Decorator{
	display: inline-block;
}
.gformColumnCanvas.columns_5 {
	-webkit-column-count:5;
	-moz-column-count:5;
}
.gformColumnCanvas.columns_4 {
	-webkit-column-count:4;
	-moz-column-count:4;
}
.gformColumnCanvas.columns_3 {
	-webkit-column-count:3;
	-moz-column-count:3;
}
.gformColumnCanvas.columns_2 {
	-webkit-column-count:2;
	-moz-column-count:2;
}
.gformColumnCanvas.columns_1 {
	-webkit-column-count:1;
	-moz-column-count:1;
}

/*
TODO: state of dialog editor interfers with display of attribute errors
.gformSingleEditor.error .error {
	display: block;
}
.gformSingleEditor .error {
	display: none;
}
.gformSingleEditor.loading .loading {
	display: block;
}
.gformSingleEditor .loading {
	display: none;
}
.gformSingleEditor .editor {
	display: block;
}
.gformSingleEditor.error .editor {
	display: none;
}
.gformSingleEditor.loading .editor {
	display: none;
}
*/

div.gformEditorController .new {
	display:none;
}
div.gformEditorController.create .new {
	display:initial;
}
div.gformEditorController .edit {
	display:none;
}
div.gformEditorController.edit .edit {
	display:initial;
}
/* loading icon. TODO needs to be centered */
div.gformEditorController .loading {
	display:initial;
}
div.gformEditorController.loading .loading {
	display:block;
	padding: 20px;
}
div.gformEditorController.loading .editor {
	display:none;
}
div.gformEditorController.loading .actions {
	display:none;
}

/* the message above the progress bar in crudController  */
/* TODO: not working  */
.progressMessage {
	margin: 15px;
}

/* DND */
.area {
	top:3px;
	position: relative;
	width:24px;
	padding: 0 4px 0 4px ;
	display:inline-block;
}
/*.area::hover {
	visibility: visible;
}*/
.bars{
	height:3px;
	margin-top:3px;
	-webkit-box-shadow:0 2px 0 rgba(255,255,255,0.8);
	background-color:rgba(55,55,55,0.2);
	width:100% ;
	display:block;
}

.controllerMessage {
	text-align:center;
	color:red;
	margin-top:30%;
}

/*
override style in Select.css
TODO make selector more specific.
*/
.claro .dijitSelectMenu td.dijitMenuArrowCell {
	 display: block;
 }




