div.gformEditorController .new {
	display:none;	
}
div.gformEditorController.create .new {
	display:block;
}
div.gformEditorController .edit {
	display:none;	
}
div.gformEditorController.edit .edit {
	display:block;	
}
div.gformEditorController .working {
	display:none;	
}
div.gformEditorController.working .working {
	display:block;	
}

